header {
    position: relative;
    /* border: 1px solid gray; */
    width: 50%;
    /* margin: auto; */

    min-width: 800px;
}
header div {
    position: relative;
    /* border: 1px solid; */
    margin: 0px;
}
#header {
    float: left;
    width: 20%;
    height: 100%;
    /* border: 1px solid gray; */
    margin: 5px 0px 0px 0px;

    text-indent: 10px;
    text-align: center;
    font-size: 25px;
    color: rgb(66, 66, 241);
}
#headerDesc {
    position: relative;
    /* position: relative;
    top: 20px;
    left: 400px; */
    /* margin: auto; */
    /* top: 10px; */
    margin: 8px 0px 0px 50px;
    /* margin-left: auto;
    margin-right: auto; */
    width: 50%;
    /* border: 1px solid gray; */

    text-align: center;
    font-size: smaller;
    color: rgb(172, 169, 169);
}
#imageList {
    position: absolute;
    top: 0%;
    right: 4%;
}
#blue-band {
    margin: 0%;
} 
#l1,#l2 {
    border: 1px solid gray;
    margin: 0px;
    display: inline-block;
    background-color: rgb(66, 66, 241);
}
#l1 {
    width: 60%;
    height: 15px;
    /* float: left; */
}
#l2 {
    position: absolute;
    right: 0px;
    bottom: 6%;
    width: 38.5%;
    height: 10px;
}

body {
    width: 30%;
    min-width: 800px;
    margin: auto;
}

main {
    width: 100%;
}
/* 基本信息margin-top */
main:nth-child(2) {
    margin-top: 1%;
}

#left-line {
    position: absolute;
    top: -2.2%;
    left: 1%;
    z-index: -1;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: rgb(66, 66, 241);
    width: 2%;
    height: 101.5%;
}
.container {
    position: relative;
    margin: 0% 0% 0% 3%;
}
h1 {
    /* position: relative;
    top: 0;
    left: 0;
    z-index: 1; */
    display: block;
    /* height: 30px; */
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(66, 66, 241);
    margin: 0% 0 0 0;

    text-indent: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    color: whitesmoke;

}
.header-decoration {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    /* float: left; */
    width: 100px;
    height: 27px;
    margin: 0px 0px 5px 0px;
    background-color: rgb(66, 66, 241);
    z-index: -1;

}


#baseInfo {
    display: flex;
    justify-content: left;

    padding: 0%;
    margin: 0;

}

main #ul1 {
    margin: 0 0 0 3%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
main #ul2 {
    margin: 2% 0 0 4%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}


#baseInfo img {
    display: inline;

    height: 28%;
    width: 9%;


    margin: 2.6% 0 0 14%;
}

#selfDesc {
    margin-left: 2%;
}

#project{
    width: 100%;
    margin-left: -2%;
}

#project table td{
    /* border: 1px solid red; */
    margin: 0;
    padding: 5px 0px 5px 15px;
}


#project th{
    font-weight: bold;
}
#project table tr:first-child th{
    font-weight: normal;
}

#project span{
    font-weight: bold;
}


table {
    margin: 1% 0% 0 4.5%;
    /* border: 1px solid; */
    border-collapse: collapse;
}
th {
    font-weight: normal;
}

#skill{
    margin: 1% 0 1% 1%;
}

#skill td:first-child {
    text-align: center;
}
#skill #td-2nd{
    text-align:left;
}
.bold {
    font-weight: bold;
}


#education{
    width: 95%;
    margin: 1% 0 0 3%;
}
#education td {
    padding: 5px 6px 5px 20px;
}

footer p {
    font-size: 2%;
    text-align: center;
}

